{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />

<!-- Custom -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}

<!-- Header -->
<header>
  <a href="#page-top" class="page-scroll">
    <img alt="Logo" src="../static/imgs/old_book.png">
  </a>
</header>

<!-- Intro Section -->
<main role="main" style="background-image: url('../static/imgs/dark-brown-background.jpg');">
  <div id="home" class="container">
    <h1>A Journey Through</h1>
    <h1>Modern Era Philosophy</h1>
    <a href="#story" class="page-scroll begin">
      <i class="fa fa-chevron-down animated" aria-hidden="true"></i>
    </a>
  </div>
</main>

<!-- Story Section -->
<section id="story" class="container">

  <!-- Slider controls -->
  <div class="controls">
    <button type="button" id="rewind">
      <i class="fa fa-fast-backward" aria-hidden="true"></i>
    </button>
    <button type="button" id="play">
      <i class="fa fa-play" aria-hidden="true"></i>
    </button>
    <button type="button" id="pause">
      <i class="fa fa-pause" aria-hidden="true"></i>
    </button>
    <button type="button" id="stop">
      <i class="fa fa-stop" aria-hidden="true"></i>
    </button>
    <input type="range" id="time-slider" name="time-slider" value="1597" min="1597" max="2001"
        oninput="outputUpdate(value)">
  </div>

  <!-- Main story section -->
  <div class="journey">
    <output for="time-slider" id="time">1597</output>
    <div id="topic-bars">
        <h1 id='header'>Top 5 Topics for 1597</h1>
        <div id="bar-chart">
            <h2>Topic 1</h2>
            <div class="bar"></div>
            <h1>0%</h1>
            <h2>Topic 2</h2>
            <div class="bar"></div>
            <h1>0%</h1>
            <h2>Topic 3</h2>
            <div class="bar"></div>
            <h1>0%</h1>
            <h2>Topic 4</h2>
            <div class="bar"></div>
            <h1>0%</h1>
            <h2>Topic 5</h2>
            <div class="bar"></div>
            <h1>0%</h1>
        </div>
    </div>
    <div id="map"></div>

    {% block philosopher %}{% endblock %}

    <!-- Philosopher time search -->
    <div class="search-bar">
      <input type="text" name="search" placeholder="e.g. John Locke">
    </div>

    <!-- Scroll to credits -->
    <a href="#credits" class="page-scroll">
      <div class="footer more-info">
        <p>More Info about this project <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></p>
      </div>
    </a>
  </div>
</section>

<!-- Credits Section -->
<section id="credits" class="container">

  <!-- Header -->
  <div class="credits-header">
    <h1>This Project was Made Possible by:</h1>
    <a href="#story" class="page-scroll go-back-story">
      <div>
        <p>Continue The Journey <i class="fa fa-arrow-circle-up" aria-hidden="true"></i></p>
      </div>
    </a>
  </div>

  <!-- Development stack -->
  <div class="made-possible column">
    <h1>Some Resources Used</h1>

    <div class="packages-used">
      <table>
        <tr>
          <td><img src="../static/imgs/resources/python-3.png"/></td>
          <td><img src="../static/imgs/resources/project_gut.jpg" style="height: 130px; border-radius: 100px;"/></td>
          <td><img src="../static/imgs/resources/internet_archive.png" style="height: 140px; width: 150px;"/></td>
          <td><img src="../static/imgs/resources/requests.png" style="height: 140px; width: 150px;"/></td>
        </tr>
        <tr>
          <td><img src="../static/imgs/resources/aws.png" style="width: 200px; height: 75px;"/></td>
          <td><img src="../static/imgs/resources/spacy.jpg" style="width: 200px; height: 75px; border-radius: 100px;"/></td>
          <td><img src="../static/imgs/resources/sklearn.png" style="width: 175px; height: 175px;"/></td>
          <td><img src="../static/imgs/resources/gensim.png" style="width: 150px; height: 65px;"/></td>
        </tr>
        <tr>
          <td><img src="../static/imgs/resources/Flask.png" style="width: 150px; height: 200px;"/></td>
          <td><img src="../static/imgs/resources/html_css.png" style="width: 150px; height: 125px;"/></td>
          <td><img src="../static/imgs/resources/jquery.gif" style="width: 120px; height: 150px;"/></td>
          <td><img src="../static/imgs/resources/d3.png" style="width: 120px; height: 150px;"/></td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Contact Info/Thanks -->
  <div class="connect column">

    <!-- Thanks to Galvanize -->
    <div class="special-thanks">
      <h1>A Special Thanks...</h1>
      <p>
        Thank you to all of my instructors and classmates!  Also,
        I'd like to extend my thanks to Galvanize as well for granting
        me the opportunity to be a part of their program.
      </p>
    </div>

    <!-- Github -->
    <div id="behind-scenes">
      <h1>Go Behind the Scenes!</h1>
      <a href="https://github.com/tdlazoen/modern_era_philosophy" class="extra-space" target="_blank">
        <i class="fa fa-github" id="github" aria-hidden="true"></i>
         Check it out on Github
      </a>
    </div>

    <!-- Connect/contact -->
    <div id="contact">
      <div style="text-align: center;">
        <h1>Connect with me!</h1>
      </div>
      <div id="sites">
          <!-- email -->
          <a href="mailto:tylerlazoen@gmail.com", target="_top">
            <i class="fa fa-envelope" id="email" aria-hidden="true"></i>
            <p style="margin-left: 0;">tylerlazoen@gmail.com</p>
          </a>
          <br>
          <!-- linkedin -->
          <a href="https://www.linkedin.com/in/tdlazoen" style="display: inline-block; margin-right: 1%;" target="_blank">
            <i class="fa fa-linkedin" id="linkedin" aria-hidden="true"></i>
            <p style="margin-left: 0;">tdlazoen</p>
          </a>
          <!-- phone -->
          <a href="tel:1-248-825-1332" style="display: inline-block; padding-left: 1%;">
            <i class="fa fa-mobile" id="phone" aria-hidden="true"></i>
             <p style="margin-left: 0;">(248) 825-1332</p>
          </a>
          <br>
          <!-- blog -->
          <a href="https://www.galvanizedintodata.com" target="_blank">
            <i class="fa fa-wordpress" id="blog" aria-hidden="true"></i>
            <p style="margin-left: 0;">galvanizedintodata.com</p>
          </a>
          <br>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer copyright">
    <p>Copyright © Tyler Lazoen 2016</p>
  </div>
</section>
{% endblock %}

{% block javascript %}

<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>

<!-- Custom -->
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

{% block visuals %}{% endblock %}
{% endblock %}
