{% extends "index.html" %}

{% block visuals %}
<script>
    // Philosopher Map
    var map = L.map('map').setView([52, 15.2551], 3.5);

    // Remove certain zoom controls
    map.zoomControl.remove()
    new L.Control.Zoom({ position: 'bottomright' }).addTo(map);
    map.touchZoom.disable();
    map.scrollWheelZoom.disable();
    map.boxZoom.disable();
    map.keyboard.disable();

    // Set minimum zoom
    map.options.minZoom = 2;

    // Create and style leaflet map from geojson file
    $.ajax({
      dataType: "json",
      url: "{{ url_for('static', filename='json/western_countries.json') }}",
      success: function(data) {
        var geoJsonLayer = new L.geoJson(data.features, {
                            style: function(feature) {
                                switch(feature.properties['CONTINENT']) {
                                    case 'North America': return {fillColor: '#492D1F',
                                                                  fillOpacity: 1,
                                                                  weight: 1.2,
                                                                  color: '#8eaecc',
                                                                  opacity: 1
                                                          };
                                    case 'Europe': return {fillColor: '#492D1F',
                                                           fillOpacity: 1,
                                                           weight: 1.2,
                                                           color: '#8eaecc',
                                                           opacity: 1
                                                   };
                                    default: return {
                                        fillColor: 'none',
                                        fillOpacity: 1,
                                        weight: 1.2,
                                        color: '#492D1F',
                                        opacity: 0.5
                                    }
                                }
                            }
        });
        geoJsonLayer.addTo(map);
      }
    }).error(function() {});

    // Customized leaflet icon
    var featherPenIcon = L.icon({
        iconUrl: "{{ url_for('static', filename='imgs/feather-pen.png')}}",
        iconSize:     [30, 88],
        iconAnchor:   [0, 88],
        popupAnchor:  [24, -76]
    });

    // Bar chart global variables
    var width = $("#bar-chart").width(),
        height = $("#bar-chart").height()

    xScale= d3.scaleLinear()
               .domain([0, 0.6])
               .range([0, width])


    // Add current time philosophers onto map
    var markers = new Array();
    var titles = new Array();
    $(function() {
        $("#time-slider").on("change", function() {
            $.getJSON($SCRIPT_ROOT + '/_current_phils', {
                year: $("#time-slider").val()
            }, function(data) {
                var new_markers = new Array();
                data.json_list.forEach(function(phil) {
                    var marker = L.marker([phil.latitude, phil.longitude], {icon: featherPenIcon});

                    if (markers.indexOf(marker) == -1) {
                        markers.push(marker);
                        map.addLayer(marker);
                        marker.bindPopup("<span class='phil-sum'>" + phil.name + "</span>");
                    }
                    new_markers.push(marker);
                });

                markers.forEach(function(element) {
                    if (new_markers.indexOf(element) == -1) {
                        map.removeLayer(element);
                    }
                });
            });
            // Get the top 5 topics for a specific year
            $.getJSON($SCRIPT_ROOT + '/_calculate_topics', {
                year: $("#time-slider").val()
            }, function(data) {
                var topics = data.json_list;
                var probs = [topics.first_prob, topics.second_prob, topics.third_prob,
                             topics.fourth_prob, topics.fifth_prob];
                var currentTitles = [topics.first_title, topics.second_title, topics.third_title,
                              topics.fourth_title, topics.fifth_title];

                var topicInfo = []
                for (i = 0; i < probs.length; i++) {
                    topicInfo.push({
                        title: currentTitles[i],
                        prob: probs[i]
                    });
                }

                updateBarChart(topicInfo)
            });
        });
    });

    // Jump to a certain philosopher's time period
    $(function() {
        $("input[type='text']").on("keydown", function(k) {
            if (k.keyCode == 13) {
                $.getJSON($SCRIPT_ROOT + '/_jump_to_phil', {
                    name: $(this).val()
                }, function(data) {
                    $('#time-slider').val(String(data.year)).change()
                    $('#time').val(String(data.year)).change()
                })
            }
        });
    });

    // Bring up a philosopher summary
    $(function() {
        $("span.phil-sum").on("click", function() {
            $.getJSON($SCRIPT_ROOT + '/_phil_sum', {
                name: name
            }, function(data) {
                console.log(data)
            });
        });
    });

    function updateBarChart(currentInfo) {
        var bars = d3.select("#bar-chart")
                     .selectAll(".bar")
                     .data(currentInfo)
                     .transition()
                     .style("width", function(d) { return String(xScale(d.prob)) + "px"; });

        var h2s = d3.select("#bar-chart")
                    .selectAll("h2")
                    .data(currentInfo)
                    .transition()
                    .text(function(d) { return d.title; });

        var h1s = d3.select("#bar-chart")
                    .selectAll("h1")
                    .data(currentInfo)
                    .transition()
                    .text(function(d) { return String(Math.round(d.prob * 100)) + "%"; });

        bars.enter().append("div")
            .attr("class", "bar")
            .transition()
            .style("width", function(d) { return String(xScale(d.prob)) + "px"; })

        bars.exit().remove()

        h2s.enter().append("h2")
           .transition()
           .text(function(d) { return d.title; })

        h2s.exit().remove()

        h1s.enter().append("h1")
           .transition()
           .text(function(d) { return String(Math.round(d.prob * 100)) + "%"; })

        h1s.exit().remove()

    }

    $(window).load(function() {
        $("#time-slider").val("1597").change()
    })

</script>
{% endblock %}
