{% extends "index.html" %}

{% block philosopher %}
<div class="modal">
    <div class="wrapper" style="background-image: url({{ url_for('static', filename='imgs/old-paper.jpg') }})">
        <span class="close">X</span>
        <h1>Hello!</h1>
        <div class="summary">
          <img src="{{ url_for('static', filename='imgs/old_book.png') }}" />
          <h2><strong>Summary</strong></h2>
          <p id="summary">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultricies magna quis urna tristique, eget dictum elit rhoncus. Phasellus eget odio quis sapien tristique maximus. Vivamus vehicula commodo nisi ac dignissim. Morbi vehicula tincidunt tellus id sagittis. Duis euismod dolor lacus, vitae sollicitudin odio fringilla id. Proin eu urna dapibus neque facilisis tempus quis eget tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras lorem velit, faucibus nec tincidunt id, rhoncus in nibh. Fusce vel viverra libero, eu hendrerit enim. Morbi vel tempor velit, eu vulputate ante. Quisque semper ex ac euismod varius. Suspendisse potenti. Integer convallis id leo ac semper. Ut sagittis eget justo ac fringilla. Nullam eget elit tortor. Quisque ornare ex non purus vulputate ullamcorper.
          </p>
          <h2><strong>Similar Philosophers</strong></h2>
          <ul id="similar">
              <li>Philosopher 1</li>
              <li>Philosopher 2</li>
              <li>Philosopher 3</li>
              <li>Philosopher 4</li>
              <li>Philosopher 5</li>
          </ul>
        </div>
        <div class="info">
            <h2><strong>Year of Birth</strong></h2>
            <p id="year-born">1997</p>
            <h2><strong>Year of Death</strong></h2>
            <p id="year-died">2097</p>
            <h2><strong>Top 2 Topics</strong></h2>
            <ul id="topics">
                <li>Topic 1</li>
                <li>Topic 2</li>
            </ul>
            <h2><strong>List of Documents</strong></h2>
            <ul id="documents">
            </ul>
        </div>
    </div>
</div>
{% endblock %}
